@font-face {
  font-family: "Satoshi-Regular";
  src: url("./assets/fonts/Satoshi-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Satoshi-Black";
  src: url("./assets/fonts/Satoshi-Black.otf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  overflow: hidden;
  font-family: "satoshi-regular";
}

header {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  animation: navbar 500ms ease backwards;
  animation-delay: 1000ms;
}
@keyframes navbar {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.logo {
  width: 80px;
  height: 30px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

a {
  color: rgba(255, 255, 255, 0.771);
  text-decoration: none;
}

a:hover {
  color: #fff;
}

.cta {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.cta a {
  border: 1px solid #fff;
  padding: 5px 15px;
  border-radius: 80px;
}
.cta a:hover {
  background: #ffffff1a;
}

.socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.socials a {
  border-radius: 50%;
  font-size: 20px;
  text-align: center;
  width: 35px;
  height: 35px;
  padding: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.bg,
.house {
  width: 100%;
  position: absolute;
}
.bg {
  height: 100%;
  z-index: 0;
}
.house {
  height: 75%;
  transform: scalex(1.02);
  transform-origin: center bottom;
  bottom: 0;
  left: 0;
  z-index: 3;
  animation: house 700ms ease-in;
}

@keyframes house {
  from {
    transform: scale(1.3);
    filter: blur(20px);
  }
  to {
    transform: scale(1.02, 1);
    filter: blur(0px);
  }
}

.left {
  width: 50%;
  position: absolute;
  object-fit: contain;
  left: -400px;
  bottom: 0;
  z-index: 2;
  animation: left-tree 800ms ease-in backwards;
  animation-delay: 500ms;
}
@keyframes left-tree {
  from {
    left: -780px;
    opacity: 0;
  }
  to {
    left: -400px;
    opacity: 1;
  }
}
.right {
  width: 50%;
  position: absolute;
  object-fit: contain;
  right: -300px;
  bottom: 0;
  z-index: 2;
  animation: right-tree 800ms ease-in backwards;
  animation-delay: 500ms;
}

@keyframes right-tree {
  from {
    right: -760px;
    opacity: 0;
  }
  to {
    right: -300px;
    opacity: 1;
  }
}

.modern,
.homes {
  position: absolute;
  color: #fff;
}

.modern {
  top: 12%;
  left: 12%;
  font-size: 150px;
  font-family: "Satoshi-Black";
  letter-spacing: -15px;
  display: inline-block;
  transform: scaleX(1.9);
  transform-origin: left;
  z-index: 1;
  animation: modern 800ms ease backwards;
  animation-delay: 1400ms;
}

@keyframes modern {
  from {
    top: 8%;
    opacity: 0;
  }
  to {
    top: 12%;
    opacity: 1;
  }
}

.homes {
  top: 34%;
  left: 34%;
  font-size: 110px;
  font-family: "Satoshi-Black";
  letter-spacing: -10px;
  display: inline-block;
  transform: scaleX(1.5);
  transform-origin: left;
  z-index: 4;
  animation: homes 1s ease-in backwards;
  animation-delay: 2200ms;
  transform-origin: bottom center;
  padding-right: 10px;
  overflow: hidden;
}

@keyframes homes {
  from {
    clip-path: inset(100% 0 0 0);
    transform: scale(1.6, 1.1);
  }

  to {
    clip-path: inset(0 0 0 0);
    transform: scalex(1.5, 1);
  }
}

.container {
  position: absolute;
  z-index: 5;
  padding: 20px;
  background: rgba(0, 0, 0, 0.12);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 15px;

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.architecture {
  top: 35%;
  left: 5%;
  width: 160px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.contemporary {
  bottom: 6%;
  left: 18%;
  width: 200px;
  height: 250px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  animation: contemporary 1s ease-in backwards;
  animation-delay: 1400ms;
  transform-origin: bottom center;
}
@keyframes contemporary {
  from {
    clip-path: inset(100% 0 0 0);
    border-radius: 0px;
  }

  to {
    clip-path: inset(0 0 0 0);
    border-radius: 15px;
  }
}
.view-project {
  position: absolute;
  bottom: 10%;
  left: 14%;
  display: flex;
  align-items: center;
  height: 50px;
  background: rgba(152, 150, 150, 0.508);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  z-index: 5;
  border-radius: 50px;
  padding-left: 15px;
  animation: view-project 1s ease backwards;
  animation-delay: 2200ms;
}
@keyframes view-project {
  from {
    transform: translatey(20px);
    opacity: 0;
  }

  to {
    transform: translatey(0px);
    opacity: 1;
  }
}

.view-project span {
  font-size: 12px;
}

.view-project i {
  transform: rotate(45deg);
  font-size: 35px;
}

.modern-homes {
  top: 35%;
  right: 5%;
  width: 160px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.analytics {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  gap: 15px;
  z-index: 5;
  padding: 20px;
  border-top-left-radius: 20px;

  background: rgba(152, 150, 150, 0.381);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);

  border: 1px solid rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  color: #fff;
}

.analytics div {
  display: flex;
  align-items: center;
  gap: 5px;
}
.analytics div p {
  font-size: 12px;
  font-weight: 100;
}

.mouse {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 30px;
  height: 45px;
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 50px;
  z-index: 5;
  animation: mouse 800ms ease backwards;
  animation-delay: 2500ms;
}
@keyframes mouse {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.mouse div {
  width: 2px;
  height: 12px;
  background: #fff;
  margin: 0 auto;
  animation: wheel 2s ease infinite;
  animation-delay: 3200ms;
}

@keyframes wheel {
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
}

.group-animation {
  animation: group-animate 800ms ease backwards;
  animation-delay: 1100ms;
}

@keyframes group-animate {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
